<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/USERS</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="show_sql">true</property>
        <!-- NONE, CREATE, CREATE-DROP, UPDATE, VALIDATE -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="ru.gb.users.User"/>
    </session-factory>
</hibernate-configuration>